/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


/* Navigation area */
.container-main { 
	width: 880px;
	margin: auto;
	/* border: 1px solid red; */
}


.navigation nav {
	display: inline-block;
	margin-top: 40px;
}

img.logo{
	display: inline-block;
	margin-left: 75px;
}

.navigation nav a {
	margin: 0 20px;
	text-decoration: none;
	color: gray;
}


/* header section */

.header {
	display: inline-block;
	width: 880px;
	
}

header .header .left-content button {
	background: transparent;
	border: 2px solid gray;
	width: 140px;
	padding: 5px 0;
}

.header .left-content{
	font-size: 60px;
	text-align: center; 
	display: inline-block;
	width: 410px;
	padding: 88px;
	vertical-align: top;
}

.header .right-content {
	display: inline-block;
	width: 410px;
	padding: 34px;
}
	
/*  First content area  */

.main-content .first-content {
	display: inline-block;
	width: 880px;
	margin: auto;
}

 .main-content .first-content div {
	 display: inline-block;
	 width: 400px;
	 margin-left: 15px;
	 padding: 10px 0;
	 
 }

 /* Second content area */

 .main-content .second-content {
	display: inline-block;
	width: 880px;
	margin: auto;
	padding: 10px 0;
 }

 .main-content .second-content div {
	display: inline-block;
	width: 270px;
	margin-left: 15px;
	
}

/* Contact section and footer section */

.contact div {
	display: inline-block;
	width: 171px;
	margin-left: 16px;
	padding: 10px 0;
}

footer {
	display: inline-block;
	width: 880px;
	margin: auto;
	padding: 20px 0;
	text-align: center;
}

.middle-img {
	padding: 15px 0;
	width: 823px;
	margin-left: 16px;
}

hr {
	width: 824px;
	margin-right: 39px;
}

/* .contact p br{
	line-height: 2.5;
} */